.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.text-primary {
    color: rgb(253, 110, 10);
}

.gray-1 {
    color: rgb(71, 71, 71);
}

.gray-2 {
    color: rgb(117, 117, 117);
}

.btn-primary {
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    padding: 18px 35px;
    border: none;
}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header {
    background: rgb(255, 248, 243);
    background-image: url('../images/developer.png'), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* banner  */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;

}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
}

.banner-content {
    max-width: 585px;
    max-height: 356px;
}

/* main section styles */
main {
    margin: 0 230px;
}

/* about section styles  */
.about {
    max-width: 1140px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    /* justify-content: center;
    align-items: center; */

}

.about-container {
    background: rgb(255, 248, 243);
    padding: 100px 100px;
    margin-top: 130px;
}

.about-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}

.item-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.item-description {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

/* what i do section start here */
.what-i-do-container {
    text-align: center;
}

.about-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.profession-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 909px;
    margin: 30px auto 50px;
}

/* skills styles */
.skills-container {
    display: flex;
    text-align: left;
    gap: 24px;
    margin: 0 auto 0;
    width: 100%;
}

.skills {
    border-radius: 5px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
}